<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf">
        <link rel="icon" size="5px" href="favicon-32x32.png">
        <script src="https://cdn.tailwindcss.com/"></script>
        <title>
            Admin login
        </title>
    </head>
    <body>
        <div>
            <div >
                <header class="h-24 content-center bg-[#0B4619] p-8">
                    <div>
                        <span class=" font-extrabold m-8 bg-clip-text text-transparent text-5xl bg-gradient-to-r from-pink-500 to-violet-500">
                            QUIZZELA
                        </span>
                    </div>
                </header>
            </div>
            <div class="p-5 flex w-screen h-screen justify-center items-center bg-[#116530]">  
                <div class="w-max bg-white h-max rounded-xl  flex flex-col justify-center p-10 bg-[#D3E4CD]">         
                    <form action="/adminlogin" method="post">
                        <div class="w-full font-bold text-center p-4 text-[#064635] font-bold text-2xl underline">ADMIN LOGIN</div>
                        <div class="w-full p-4">
                        <input class=" bg-[#C1DEAE] border-solid border-2 border-lime-600 w-full p-2 rounded-md placeholder-[#406343]" type="email" name="email" placeholder="Email ID"><br>
                        </div>
                        <div class="w-full p-4">
                        <input class=" bg-[#C1DEAE] border-solid border-2 border-lime-600 w-full p-2 rounded-md placeholder-[#406343]" type="password" name="password" placeholder="Password"><br>
                        </div>
                        <% if (messages.error){ %>
                            <%= messages.error %>
                        <% } %>
                        <div class="w-full p-4 flex justify-center">
                            <button class="text-white ring-2 ring-[#9A86A4] rounded-lg h-10 w-32 transition ease-in-out delay-150 bg-[#7D1E6A] hover:-translate-y-1 hover:scale-110 hover:bg-[#46244C] duration-300" type="submit">Proceed</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>