<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf">
        <link rel="icon" size="5px" href="favicon-32x32.png">
        <script src="https://cdn.tailwindcss.com/"></script>
        <title>
            Admin Register
        </title>
    </head>
    <body>
        <div >
            <form action="/adminregister" method="post">
            <p>ADMIN REGISTER</p>   
                <input class=" " type="text" id="name" name="name" placeholder="Name"><br>
                <input class=" " type="email" name="email" placeholder="Email ID"><br>
                <input class=" " type="password" name="password" placeholder="Password"><br>
                <button class=" bg-lime-500 w-24" type="submit">Register</button>
            </form>
        </div>
        <a href="/adminlogin">Login</a>
    </body>
</html>