<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <script src="https://cdn.tailwindcss.com/"></script>
        <title>Quizzela</title>
    </head>
    <body class="bg-[#116530]">
        <div class="collegename">
            <header class="h-96 content-center bg-[#0B4619] p-8">
                <div class="text-7xl font-extrabold ...">
                    <span class="m-8 bg-clip-text text-transparent text-8xl bg-gradient-to-r from-pink-500 to-violet-500">
                        QUIZZELA
                    </span>
                  </div><br><br>
                  <div class=" m-8 w-fit rounded-lg backdrop-opacity-10 backdrop-invert bg-white/30  bg-clip-text text-transparent text-3xl bg-gradient-to-r from-pink-500 to-violet-500">
                    <p>
                        Quizzela, A site to create and host quizzes.
                    </p>
                    <p>
                        Now you can easily create a quiz, just click on the 'create' button below.
                    </p>
                  </div>
            </header>
        </div> <br><br>
        <div class="text-white flex justify-center text-5xl ">
            <button type="button" name="createQuiz" class="ring-2 ring-[#9A86A4] rounded-lg h-24 w-64 transition ease-in-out delay-150 bg-[#7D1E6A] hover:-translate-y-1 hover:scale-110 hover:bg-[#46244C] duration-300">CREATE</button>
        </div>
    </body>
</html>