<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="\favicon-32x32.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Test</title>
</head>
<body class="bg-[#116530]">
    <div >
        <header class="h-24 content-center bg-[#0B4619] p-8">
            <div>
                <span class=" font-extrabold m-8 bg-clip-text text-transparent text-5xl bg-gradient-to-r from-pink-500 to-violet-500">
                    QUIZZELA
                </span>
            </div>
        </header>
    </div>
    <div class="flex flex-row h-16 justify-between ml-8 m-8">
        <div class="p-1 text-gray-300 font-semibold bg-indigo-500 text-lg h-max w-max flex items-center justify-center rounded-lg bg-[#D3E4CD] text-[#064635]">User ID: &nbsp; <%= userid %></div>
        <div class=" p-1 text-gray-300 font-bold bg-indigo-500 text-lg h-10 w-48 flex items-center justify-center rounded-lg bg-[#D3E4CD] text-[#064635]">Timer: &nbsp; <span id="overallTimer" class="m-4"></span></div>
    </div>
    <div class="flex items-center justify-center">
    <div class="text-gray-300 font-semibold bg-indigo-500 text-lg h-max w-2/3 rounded-lg bg-[#D3E4CD] text-[#064635] " >
        <div >
            <div class="ml-8 mt-6 font-bold">
                Quesiton Time: <span id="questionTimer"></span>
            </div>
            <div class="ml-8 mt-6">
                Question: <span id="questionno"></span><div id="questionbox"></div>
            </div>
            <div class="ml-8 mt-6">
                Total Time: <span id="marksbox"></span>
            </div>
            <div class="ml-8 mt-6">
                Total Marks: <span id="timebox"></span>
            </div>
            <div class="ml-8 mt-6" id="optionbox">
                <div>
                    <p >Please select any of the options:</p>
                    <input type="radio" id="" name="abcd" value="a" class="accent-[#7D1E6A]">
                    <label for="">&nbsp; a</label><br>
                    <input type="radio" id="" name="abcd" value="b" class="accent-[#7D1E6A]">
                    <label for="">&nbsp; b</label><br>  
                    <input type="radio" id="" name="abcd" value="c" class="accent-[#7D1E6A]">
                    <label for="">&nbsp; c</label><br>
                    <input type="radio" id="" name="abcd" value="d" class="accent-[#7D1E6A]">
                    <label for="">&nbsp; d</label><br>
                    <input type="radio" id=""  class="accent-[#7D1E6A]" name="abcd" value="none" checked>
                    <label for="">&nbsp; None</label><br><br>
                </div>
            </div>
            <div class="ml-8 mt-6" id="descriptionbox">
                Answer: &nbsp; <textarea class="  rounded-md bg-[#C1DEAE] border-solid border-2 border-lime-600  resize-none h-16 w-96 ml-8 mt-6 mr-8" name="" id="wans" cols="100" rows="10"></textarea>
            </div>
            <div class="flex items-center justify-center">
                <button class=" mt-6 mb-8 text-white ring-2 ring-[#9A86A4] rounded-lg h-10 w-48 transition ease-in-out delay-150 bg-[#7D1E6A] hover:-translate-y-1 hover:scale-110 hover:bg-[#46244C] duration-300" onclick="proceed()">Submit and Proceed</button>
            </div>
        </div>
    </div>
</div>
    <script>
        let data = `<%- docs %>`;
        let userid = `<%- userid %>`;
        data = JSON.parse(data);
        let i = 0;
        const quesbox = document.getElementById('questionbox');
        const timebox = document.getElementById('timebox');
        const marksbox = document.getElementById('marksbox');
        const questionno = document.getElementById('questionno');

        window.addEventListener('load', ()=>{
            if(data[0].type=="MCQ"){
                $("#descriptionbox").hide();
                $("#optionbox").show();
            }else{
                $("#optionbox").hide();
                $("#descriptionbox").show();
            }
            quesbox.innerHTML = data[i].question;
            timebox.innerHTML = data[i].qtime;
            marksbox.innerHTML = data[i].marks;
            questionno.innerHTML = i+1;
        });


        function sendans(ans){
            const ansdata = { answer: ans, qpname: data[i].qpname, questionid: data[i]._id, userid };
            fetch('/storeans', {
            method: 'POST', 
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(ansdata),
            })
            .then(response => response.json())
            .then(data => {
            console.log('Success:', data);
            })
            .catch((error) => {
            console.error('Error:', error);
            });

        }

        function proceed(){
            let ans = "";
            if(data[i].type=="MCQ"){
                var optionChosen = document.querySelector('input[name = abcd]:checked').value;
                ans = optionChosen;
            }else{
                var wans = document.getElementById('wans').value;
                ans = wans;
            }
            sendans(ans);
            console.log(ans);
            if(i==data.length-1){
                alert("test complete");
                window.location = '/' + data[0].qpname+ '/'+ userid + '/complete';
            }
            i++;
            questionno.innerHTML = i+1;
            quesbox.innerHTML = data[i].question;
            timebox.innerHTML = data[i].qtime;
            marksbox.innerHTML = data[i].marks;
            document.getElementById('wans').value = "";
            if(data[i].type=="MCQ"){
                $("#descriptionbox").hide();
                $("#optionbox").show();
            }else{
                $("#optionbox").hide();
                $("#descriptionbox").show();
            }

            //setting timer after every proceed
            qtime = data[i].qtime*60;
            
        }

        let stime = `<%= totalTime %>`;
        time = stime*60;
        setInterval(updateCountDown, 1000);
        function updateCountDown(){
            const minutes = Math.floor(time/60);
            const seconds = time%60;
            if(minutes==0 && seconds==0){
                window.location = '/' + data[0].qpname+ '/'+ userid + '/complete';
            }
            if(seconds<10){
                cseconds = '0'+seconds;
            }else{
                cseconds = seconds;
            }

            document.getElementById('overallTimer').innerHTML = `${minutes} : ${cseconds}`;
            time--;
        }

        let qstime = data[i].qtime;
        qtime = qstime*60;
        setInterval(qupdateCountDown, 1000);
        function qupdateCountDown(){
            const minutes = Math.floor(qtime/60);
            const seconds = qtime%60;
            if(minutes==0 && seconds==0){
                proceed();
            }
            if(seconds<10){
                cseconds = '0'+seconds;
            }else{
                cseconds = seconds;
            }

            document.getElementById('questionTimer').innerHTML = `${minutes} : ${cseconds}`;
            qtime--;
        }


        
    </script>
</body>
</html>