<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Stats</title>
</head>
<body class="p-0 m-0 flex h-full bg-green-600">
    <div class="grid grid-cols-4">
        <div class="flex flex-col bg-lime-200 p-3 m-2 rounded-md justify-center text-center">
            <div class="border-b-2 border-green-600">Question Name</div>
            <div>Average</div>
            <div>
                <span class="border-r-2 border-green-600">Correct</span><span>Incorrect</span>
            </div>
        </div>
    </div>
    <div>

    </div>
</body>
</html>