<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Stats</title>
</head>
<body class="p-0 m-0 flex h-full bg-green-600">
    <h1>Here are the stats</h1>
    <div>
        
    </div>
    <div>

    </div>
</body>
</html>