<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="\favicon-32x32.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Test</title>
</head>
<body class="m-0 p-0 h-screen ">
    <div>
        <header class="h-24 content-center bg-[#0B4619] p-8">
            <div class="font-extrabold">
                <span class="m-8 bg-clip-text text-transparent text-5xl bg-gradient-to-r from-pink-500 to-violet-500">
                    QUIZZELA
                </span>
            </div>
        </header>
    </div>
    <div class="flex w-screen h-screen justify-center items-center bg-[#116530]">
        <div class="w-1/4 bg-white h-2/3 rounded-xl  flex flex-col justify-center p-10 bg-[#D3E4CD]">
            <div class="w-full font-bold text-center p-4 text-[#064635] font-bold text-2xl underline">Test Verification</div>
            <form action="/<%= testname %>/verifyuser" method="post" class="">
                <div class="w-full p-4">
                    <input class=" bg-[#C1DEAE] border-solid border-2 border-lime-600 w-full p-2 rounded-md placeholder-[#406343]" type="text" name="testuser" id="" placeholder="Enter Your Name">
                </div>
                <!-- <div class="w-full p-4">
                    <input class="w-full p-2 rounded-md bg-[#C1DEAE] border-solid border-2 border-lime-600 placeholder-[#406343]" type="text" name="userid" id="" placeholder="Enter Your Id">
                </div> -->
                <div class="w-full p-4">
                    <input class="w-full p-2 rounded-md bg-[#C1DEAE] border-solid border-2 border-lime-600 placeholder-[#406343]" type="text" name="testname" id="" placeholder="Test Name" value="<%= testname %>" hidden>
                </div>
                <div class="w-full p-4 flex justify-center">
                    <button class="text-white ring-2 ring-[#9A86A4] rounded-lg h-10 w-32 transition ease-in-out delay-150 bg-[#7D1E6A] hover:-translate-y-1 hover:scale-110 hover:bg-[#46244C] duration-300" type="submit">Proceed</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>